.navbar {
  width: 92%;
  height: 100px;
  position: fixed;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  font-weight: bold;
  border-bottom: 3px solid #9FB4FF;
  margin-left:4%;
  background-color: white;
  z-index: 1;
}

.navbar-logo {
  /* margin-left: 3%; */
  margin-top:10px;
  margin-bottom:10px;

}

.navi-one {
  width: 50%;
  display: flex;
}

.nav-left {
  font-size:20px;
  color: #2E2E2E;
  margin-left: 5%;
  text-decoration: none;
}

.navi-two {
  margin-right: 3%;
  width: 50%;
  flex:auto;
  text-align: right;
}

.nav-right{
  font-size:20px;
  margin-right: 5%;
  text-decoration: none;
}

#logo-link{
  width: 140px;
  height: 60px;
}

#signin{
  font-size:20px;
  color: rgba(248, 182, 150, 0.98);
}

#signup{
  font-size:20px;
  color: rgba(244, 131, 102, 0.98);
}

#under-line{
  margin-top: 6.8%;
}
