hr {
  border-width: 1.5px;
  border-style: solid;
  border-color: #dcdcdcb4;
}

.printing{
  visibility :hidden;
}

.printing #result_container{
  position:absolute;
}
#printbtn{
  /* padding-bottom: 5%; */
  position: fixed;
  /* font-size: 11px; */
  bottom:3%;
  right: 2.5rem;

  color: rgba(244, 131, 102, 0.98);
  background-color: white;
  border: 2px solid rgba(244, 131, 102, 0.98);
  border-radius: 30px;
  padding: 10px 10px 3px 10px;
}

#printbtn:hover {
  color: rgba(248, 182, 150, 0.98);
  background-color: white;
  border: 2px solid rgba(248, 182, 150, 0.98);
}

.Result {
  width: 92%;
  height: auto;
  display: flex;
  padding: 5% 4% 5% 4%;
  margin: 0 auto;
  flex-direction: column;
}

#result_container {
  background-color: white;
  height: auto;
  width: 80%;
  margin: 0 auto;
  /* padding: 25px; */
  flex-direction: column;
  border-radius: 15px;
  border: 3px solid #dcdcdcb4;
}

#resultdiv{
  padding: 25px;
}

/* 상단 이름, 검사일시, 분야 */
#resulttitle {
  width: 100%;
  margin-left: 4%;
}

.info {
  width: 100%;
  border-top: 2.4px solid #dcdcdc;
  border-bottom: 2.4px solid #dcdcdc;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 3%;
  text-align: center;
}

.entity {
  display: inline;
  margin-top: 3%;
  padding-right: 6%;
  padding-left: 6%;
}

.type {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
  color: #8c8c8c;
  font-size: 18px;
}

.content {
  display: inline;
  font-weight: bold;
  font-size: 18px;
}


/* 질문 출력 div */
.questionArea {
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: #5a5a5a;
  text-align: center;
}

#questionArea-content {
  font-size: 15pt;
  font-weight: bold;
}

/* <분석 결과 전체를 담는 div> */
.resultArea {
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

/* 분석제목 */
.subtitle {
  font-size: 19px;
  margin: 5%;
  color: #5a5a5a;
  padding-left: 25px;
}

/* 분석 이미지들*/
.analyzeimage {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

.graphtitle{
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: rgb(141, 140, 140);
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

/* 분석-왼쪽div */
.leftdiv {
  float: left;
  margin-left: 7%;
  width: 33%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.leftdiv::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 분석-오른쪽div */
.rightdiv {
  float: right;
  margin-right: 7%;
  width: 33%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.rightdiv::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

#waveformdiv{
  float: right;
  margin-right: 9%;
  width: 33%;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
  text-align: center;
}


/* 해석 출력 div */
.Explanation {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f7f7f7;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 25px 10px 25px;
  color: #5a5a5a;
}

.explanation-header {
  font-size: 14pt;
  font-weight: bold;
}

.explanation-contenet {
  font-size: 13.5pt;
  white-space: pre-line;
}

/* 1. Vision Analysis */
.vision {
  width: 100%;
  margin-bottom: 5%;
}

#interviewVideo {
  position: relative;
  width: 70%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

#video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* 2. 표정분석 */
#face {
  width: 100%;
  margin-bottom: 5%;
}

/* 3. 시선처리 */
#iris {
  width: 100%;
  margin-bottom: 5%;
}

.irisdiv {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  width: 85%;
  margin: auto;
}

#iris button {
  font-size: 15px;
  font-weight: bold;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(244, 131, 102, 0.98);
  color: #ffffff;
  border: 0px;
  display: inline;
  margin-left: 20px;
}

#iris h3 {
  display: inline;
}

.iriscanvas {
  position: absolute;
  width: 100%;
  height: 99%;
  background: #ffffff;
  border: 1px solid black;
}

/* 4. 단어 분석 */
#word {
  width: 100%;
  margin-bottom: 5%;
}

/* 5. 목소리 분석 */
#voice {
  width: 100%;
  margin-bottom: 5%;
}

.hr {
  clear: both;
  border-bottom: 2px solid #dcdcdc;
}