#btnArea {
  padding-top: 1%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#recordTitle {
  /* padding-top: 14%; */
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#audioRecBtn_stop {
  font-size: 17px;
  margin-right: 2%;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: #cdcdcd;
  color: #ffffff;
  border: 0px;
}

#audioRecBtn_start {
  font-size: 17px;
  margin-right: 2%;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: rgba(244, 131, 102, 0.98);
  color: #ffffff;
  border: 0px;
}

#checkResultBtn {
  font-size: 17px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: #afd4fa;
  color: #ffffff;
  border: 0px;
}

#videoArea {
  display: inline-block;
  padding-bottom: 2%;
}

#checkResultBtn:hover {
  color: #afd4fa;
  background-color: white;
  border: 2px solid #afd4fa;
}

#videoPlayBtn:hover {
  color: rgba(248, 182, 150, 0.98);
  background-color: white;
  border: 2px solid rgba(248, 182, 150, 0.98);
}

#audioRecBtn:hover {
  color: rgba(244, 131, 102, 0.98);
  background-color: white;
  border: 2px solid rgba(244, 131, 102, 0.98);
}
#recordArea {
  text-align: center;
  padding: 6% 4% 6% 4%;
}
